<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/listings">
        <input name="title" placeholder="Enter title" type="text">
        <br>
        <textarea name="description" placeholder="Enter description"></textarea>
        <input name="image" placeholder="Enter image url" type="text">
        <br>
        <input name="price" placeholder="Enter price" type="number">
        <br>
        <input name="location" placeholder="Enter location" type="text">
        <br>
        <input name="country" placeholder="Enter country" type="text">
        <button>add</button>

    </form>
</body>
</html>